<ion-view>
  <ion-content>
    <div class="center-container">
      <a class="center-content" href="#">
        <img class="logo" src="img/logo.svg" alt="SchedU Logo">
      </a>
    </div>
    <form class="list list-inset login-container" novalidate name="loginForm" ng-submit="login(loginForm, phoneNumber)">
      <div class="error login-error" ng-show="submittedInvalid">
        Doesn't look like a phone number... Try again! <span class="tel-example">Like this: 123-456-7890</span>.
      </div>
      <div class="error login-error" ng-show="noUserFound && submittedValid">
        I couldn't find your information. Have you signed up?
      </div>
      <label class="item item-input">
        <span class="input-label">Phone Number</span>
        <input type="text" name="phoneNumber" ng-model="phoneNumber" ng-minlength="10" ng-maxlength="12" required ng-pattern="/[1-9-]/" placeholder="555-555-5555">
      </label>
      <button type="submit" class="item button button-schedu button-block login-button">Sign In</button>
      <center class="register-description">Not a member yet?</center>
      <a class="button button-positive button-block" href="#/register">Sign up</a>
    </form>
  </ion-content>
</ion-view>
