<ion-view title="Register">
  <ion-header-bar>
    <div class="buttons">
      <a href="#/login" class="reverse">
        <button class="button button-clear back-arrow">
          <i class="ion-arrow-left-c"></i>
        </button>
      </a>
    </div>
    <h1 class="title">
      <img class="title-image"
           src="img/logo.svg"
           height="60"
           alt="SchedU Logo">
    </h1>
  </ion-header-bar>
  <ion-content has-header="true">
    <form name="registerForm" ng-submit="register(formData)" novalidate ng-controller="RegisterCtrl">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name:</span>
            <input type="text" required ng-maxlength="15" ng-pattern="/[a-zA-Z'-.]/" ng-model="formData.firstName" name="firstName">
        </label>
        <small class="error item" ng-show="registerForm.firstName.$invalid && registerForm.firstName.$dirty">
          Doesn't look like a first name. Try removing numbers/punctuation and making it shorter.
        </small>
        <label class="item item-input">
          <span class="input-label">Last Name:</span>
          <input type="text" required ng-maxlength="15" ng-pattern="/[a-zA-Z'-.]/" ng-model="formData.lastName" name="lastName">
        </label>
        <small class="error item" ng-show="registerForm.lastName.$invalid && registerForm.lastName.$dirty">
          Doesn't look like a last name. Try removing numbers/punctuation and making it shorter.
        </small>
        <label class="item item-input">
          <span class="input-label"
                ng-class="{'label-invalid': registerForm.phoneNumber.$invalid && registerForm.phoneNumber.$dirty}">
            Phone Number:
          </span>
          <input type="tel"
                 name="phoneNumber"
                 placeholder="555-555-5555"
                 required
                 ng-model="formData.phoneNumber">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Grade:</div>
          <select ng-model="formData.grade">
            <option value="9">9 - Freshman</option>
            <option value="10">10 - Sophomore</option>
            <option value="11">11 - Junior</option>
            <option value="12">12 - Senior</option>
            <option value="teacher">Teacher</option>
          </select>
        </label>
      </div>
      <!-- PERIOD SECTIONS CONTAINER -->
      <div class="list">
        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider period-title a-period">A Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name:</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.a.name" name="aPrimary">
        </label>
        <small class="error item" ng-show="registerForm.aPrimary.$invalid && registerForm.aPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="aAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="aAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name:</span>
            <input type="text" ng-model="formData.a.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item">
            Primary Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.a.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.a.days[{{n}}]"
                       id="formData.a.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.a.days[n-1]"
                       ng-click="deselectDays(n, 'a')">
                <label class="day-selector"
                       for="formData.a.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Alternate Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.a.alternate.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.a.days[{{n}}]"
                       id="formData.a.alternate.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.a.alternate.days[n-1]"
                       ng-click="deselectDays(n, 'a', 'alternate')">
                <label class="day-selector"
                       for="formData.a.alternate.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div> <!-- End Alternate Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider period-title b-period">B Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name:</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.b.name" name="bPrimary">
        </label>
        <small class="error item" ng-show="registerForm.bPrimary.$invalid && registerForm.bPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="bAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="bAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name:</span>
            <input type="text" ng-model="formData.b.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.b.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.b.days[{{n}}]"
                       id="formData.b.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.b.days[n-1]"
                       ng-click="deselectDays(n, 'b')">
                <label class="day-selector"
                       for="formData.b.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Alternate Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.b.alternate.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.b.days[{{n}}]"
                       id="formData.b.alternate.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.b.alternate.days[n-1]"
                       ng-click="deselectDays(n, 'b', 'alternate')">
                <label class="day-selector"
                       for="formData.b.alternate.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div> <!-- End Alternate Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider period-title c-period">C Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name:</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.c.name" name="cPrimary">
        </label>
        <small class="error item" ng-show="registerForm.cPrimary.$invalid && registerForm.cPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="cAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="cAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name:</span>
            <input type="text" ng-model="formData.c.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.c.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.c.days[{{n}}]"
                       id="formData.c.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.c.days[n-1]"
                       ng-click="deselectDays(n, 'c')">
                <label class="day-selector"
                       for="formData.c.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Alternate Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.c.alternate.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.c.days[{{n}}]"
                       id="formData.c.alternate.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.c.alternate.days[n-1]"
                       ng-click="deselectDays(n, 'c', 'alternate')">
                <label class="day-selector"
                       for="formData.c.alternate.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div> <!-- End Alternate Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider period-title d-period">D Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name:</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.d.name" name="dPrimary">
        </label>
        <small class="error item" ng-show="registerForm.dPrimary.$invalid && registerForm.dPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="dAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="dAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name:</span>
            <input type="text" ng-model="formData.d.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.d.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.d.days[{{n}}]"
                       id="formData.d.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.d.days[n-1]"
                       ng-click="deselectDays(n, 'd')">
                <label class="day-selector"
                       for="formData.d.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Alternate Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.d.alternate.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.d.days[{{n}}]"
                       id="formData.d.alternate.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.d.alternate.days[n-1]"
                       ng-click="deselectDays(n, 'd', 'alternate')">
                <label class="day-selector"
                       for="formData.d.alternate.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div> <!-- End Alternate Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider period-title e-period">E Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name:</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.e.name" name="ePrimary">
        </label>
        <small class="error item" ng-show="registerForm.ePrimary.$invalid && registerForm.ePrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="eAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="eAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name:</span>
            <input type="text" ng-model="formData.e.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.e.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.e.days[{{n}}]"
                       id="formData.e.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.e.days[n-1]"
                       ng-click="deselectDays(n, 'e')">
                <label class="day-selector"
                       for="formData.e.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Alternate Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.e.alternate.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.e.days[{{n}}]"
                       id="formData.e.alternate.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.e.alternate.days[n-1]"
                       ng-click="deselectDays(n, 'e', 'alternate')">
                <label class="day-selector"
                       for="formData.e.alternate.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div> <!-- End Alternate Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider period-title f-period">F Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name:</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.f.name" name="fPrimary">
        </label>
        <small class="error item" ng-show="registerForm.fPrimary.$invalid && registerForm.fPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="fAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="fAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name:</span>
            <input type="text" ng-model="formData.f.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.f.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.f.days[{{n}}]"
                       id="formData.f.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.f.days[n-1]"
                       ng-click="deselectDays(n, 'f')">
                <label class="day-selector"
                       for="formData.f.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Alternate Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.f.alternate.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.f.days[{{n}}]"
                       id="formData.f.alternate.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.f.alternate.days[n-1]"
                       ng-click="deselectDays(n, 'f', 'alternate')">
                <label class="day-selector"
                       for="formData.f.alternate.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div> <!-- End Alternate Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider period-title g-period">G Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name:</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.g.name" name="gPrimary">
        </label>
        <small class="error item" ng-show="registerForm.gPrimary.$invalid && registerForm.gPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="gAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="gAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name:</span>
            <input type="text" ng-model="formData.g.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.g.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.g.days[{{n}}]"
                       id="formData.g.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.g.days[n-1]"
                       ng-click="deselectDays(n, 'g')">
                <label class="day-selector"
                       for="formData.g.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Alternate Class Days:
            <div class="day-selector-row">
              <span ng-repeat="n in [] | range:1:8"
                    ng-init="formData.g.alternate.days = []">
                <input class="day-selector-radio"
                       type="radio"
                       name="formData.g.days[{{n}}]"
                       id="formData.g.alternate.days[{{n}}]"
                       ng-value="n"
                       ng-model="formData.g.alternate.days[n-1]"
                       ng-click="deselectDays(n, 'g', 'alternate')">
                <label class="day-selector"
                       for="formData.g.alternate.days[{{n}}]">
                  {{n}}
                </label>
              </span>
            </div>
          </div> <!-- End Alternate Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <div class="center-container">
          <button class="button button-schedu button-register center-content"
                  type="submit"
                  ng-disabled="registerForm.$invalid">
            I'm all done, sign me up!
          </button>
        </div>

      </div> <!-- End period sections container -->
    </form>
  </ion-content>
</ion-view>
