<ion-view title="Register">
  <ion-header-bar>
    <div class="buttons">
      <a href="#/login" class="reverse">
        <button class="button button-clear back-arrow">
          <i class="ion-arrow-left-c"></i>
        </button>
      </a>
    </div>
    <h1 class="title">
      <img class="title-image"
           src="img/logo.svg"
           height="60"
           alt="SchedU Logo"
           ng-init="logoclicks = 0"
           ng-click="logoclicks = logoclicks + 1">
    </h1>
  </ion-header-bar>
  <ion-content has-header="true">
    <form name="registerForm" ng-submit="register(formData)" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
            <input type="text" required ng-maxlength="15" ng-pattern="/[a-zA-Z'-.]/" ng-model="formData.firstName" name="firstName">
        </label>
        <small class="error item" ng-show="registerForm.firstName.$invalid && registerForm.firstName.$dirty">
          Doesn't look like a first name. Try removing numbers/punctuation and making it shorter.
        </small>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" required ng-maxlength="15" ng-pattern="/[a-zA-Z'-.]/" ng-model="formData.lastName" name="lastName">
        </label>
        <small class="error item" ng-show="registerForm.lastName.$invalid && registerForm.lastName.$dirty">
          Doesn't look like a last name. Try removing numbers/punctuation and making it shorter.
        </small>
        <label class="item item-input">
          <span class="input-label">Phone Number</span>
          <input type="tel" ng-minlength="12" ng-maxlength="12" required ng-pattern="/[1-9-]/" ng-model="formData.phoneNumber" ng-model-options="{ updateOn: 'blur' }" name="phoneNumber">
        </label>
        <small class="error item" ng-show="registerForm.phoneNumber.$invalid && registerForm.phoneNumber.$dirty">
          Doesn't look like a phone number. Try again! <span class="tel-example">Like this: 555-555-5555.</span>
        </small>
        <label class="item item-input item-select">
          <div class="input-label">Grade</div>
          <select ng-model="formData.grade">
            <option value="9">9 - Freshman</option>
            <option value="10">10 - Sophomore</option>
            <option value="11">11 - Junior</option>
            <option value="12">12 - Senior</option>
            <option value="teacher">Teacher</option>
          </select>
        </label>
      </div>
      <!-- PERIOD SECTIONS CONTAINER -->
      <div class="list">
        <div class="period-container"
             ng-repeat="periodLetter in ['a','b','c','d','e','f','g']">
          <period letter="periodLetter"></period>
        </div> <!-- End Period Container -->

        <div class="center-container">
          <button class="button button-schedu button-register center-content" ng-disabled="registerForm.$invalid" type="submit">I'm all done, sign me up!</button>
        </div>

      </div> <!-- End period sections container -->
    </form>
  </ion-content>
</ion-view>
