<ion-view title="Register">
  <ion-content>
    <div class="center-container">
      <a class="center-content" href="#">
        <img class="logo" src="img/logo.svg" alt="SchedU Logo">
      </a>
    </div>
    <a href="#/login">
      <button class="back-button button-clear">
        <i class="ion-arrow-left-c"></i> Login
      </button>
    </a>
    <form name="registerForm" ng-submit="register(formData)" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
            <input type="text" required ng-maxlength="15" ng-pattern="/[a-zA-Z'-.]/" ng-model="formData.firstName" name="firstName">
        </label>
        <small class="error item" ng-show="registerForm.firstName.$invalid && registerForm.firstName.$dirty">
          Doesn't look like a first name. Try removing numbers/punctuation and making it shorter.
        </small>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" required ng-maxlength="15" ng-pattern="/[a-zA-Z'-.]/" ng-model="formData.lastName" name="lastName">
        </label>
        <small class="error item" ng-show="registerForm.lastName.$invalid && registerForm.lastName.$dirty">
          Doesn't look like a last name. Try removing numbers/punctuation and making it shorter.
        </small>
        <label class="item item-input">
          <span class="input-label">Phone Number</span>
          <input type="tel" ng-minlength="12" ng-maxlength="12" required ng-pattern="/[1-9-]/" ng-model="formData.phoneNumber" ng-model-options="{ updateOn: 'blur' }" name="phoneNumber">
        </label>
        <small class="error item" ng-show="registerForm.phoneNumber.$invalid && registerForm.phoneNumber.$dirty">
          Doesn't look like a phone number. Try again! <span class="tel-example">Like this: 555-555-5555.</span>
        </small>
        <label class="item item-input item-select">
          <div class="input-label">Grade</div>
          <select ng-model="formData.grade">
            <option value="9">9 - Freshman</option>
            <option value="10">10 - Sophomore</option>
            <option value="11">11 - Junior</option>
            <option value="12">12 - Senior</option>
            <option value="teacher">Teacher</option>
          </select>
        </label>
      </div>
      <!-- PERIOD SECTIONS CONTAINER -->
      <div class="list">
        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider">A Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.a.name" name="aPrimary">
        </label>
        <small class="error item" ng-show="registerForm.aPrimary.$invalid && registerForm.aPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="aAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="aAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name</span>
            <input type="text" ng-model="formData.a.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.a.days.1" name="formData.a.days[1]" value="primary">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.a.days.2" name="formData.a.days[2]" value="primary">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.a.days.3" name="formData.a.days[3]" value="primary">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.a.days.4" name="formData.a.days[4]" value="primary">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.a.days.5" name="formData.a.days[5]" value="primary">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.a.days.6" name="formData.a.days[6]" value="primary">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.a.days.7" name="formData.a.days[7]" value="primary">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.a.days.8" name="formData.a.days[8]" value="primary">
            </label>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Other Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.a.days.1" name="formData.a.days[1]" value="other">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.a.days.2" name="formData.a.days[2]" value="other">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.a.days.3" name="formData.a.days[3]" value="other">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.a.days.4" name="formData.a.days[4]" value="other">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.a.days.5" name="formData.a.days[5]" value="other">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.a.days.6" name="formData.a.days[6]" value="other">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.a.days.7" name="formData.a.days[7]" value="other">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.a.days.8" name="formData.a.days[8]" value="other">
            </label>
          </div> <!-- End Other Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider">B Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.b.name" name="bPrimary">
        </label>
        <small class="error item" ng-show="registerForm.bPrimary.$invalid && registerForm.bPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="bAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="bAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name</span>
            <input type="text" ng-model="formData.b.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.b.days.1" name="formData.b.days[1]" value="primary">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.b.days.2" name="formData.b.days[2]" value="primary">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.b.days.3" name="formData.b.days[3]" value="primary">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.b.days.4" name="formData.b.days[4]" value="primary">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.b.days.5" name="formData.b.days[5]" value="primary">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.b.days.6" name="formData.b.days[6]" value="primary">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.b.days.7" name="formData.b.days[7]" value="primary">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.b.days.8" name="formData.b.days[8]" value="primary">
            </label>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Other Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.b.days.1" name="formData.b.days[1]" value="other">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.b.days.2" name="formData.b.days[2]" value="other">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.b.days.3" name="formData.b.days[3]" value="other">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.b.days.4" name="formData.b.days[4]" value="other">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.b.days.5" name="formData.b.days[5]" value="other">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.b.days.6" name="formData.b.days[6]" value="other">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.b.days.7" name="formData.b.days[7]" value="other">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.b.days.8" name="formData.b.days[8]" value="other">
            </label>
          </div> <!-- End Other Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider">C Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.c.name" name="cPrimary">
        </label>
        <small class="error item" ng-show="registerForm.cPrimary.$invalid && registerForm.cPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="cAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="cAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name</span>
            <input type="text" ng-model="formData.c.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.c.days.1" name="formData.c.days[1]" value="primary">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.c.days.2" name="formData.c.days[2]" value="primary">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.c.days.3" name="formData.c.days[3]" value="primary">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.c.days.4" name="formData.c.days[4]" value="primary">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.c.days.5" name="formData.c.days[5]" value="primary">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.c.days.6" name="formData.c.days[6]" value="primary">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.c.days.7" name="formData.c.days[7]" value="primary">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.c.days.8" name="formData.c.days[8]" value="primary">
            </label>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Other Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.c.days.1" name="formData.c.days[1]" value="other">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.c.days.2" name="formData.c.days[2]" value="other">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.c.days.3" name="formData.c.days[3]" value="other">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.c.days.4" name="formData.c.days[4]" value="other">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.c.days.5" name="formData.c.days[5]" value="other">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.c.days.6" name="formData.c.days[6]" value="other">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.c.days.7" name="formData.c.days[7]" value="other">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.c.days.8" name="formData.c.days[8]" value="other">
            </label>
          </div> <!-- End Other Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider">D Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.d.name" name="dPrimary">
        </label>
        <small class="error item" ng-show="registerForm.dPrimary.$invalid && registerForm.dPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="dAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="dAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name</span>
            <input type="text" ng-model="formData.d.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.d.days.1" name="formData.d.days[1]" value="primary">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.d.days.2" name="formData.d.days[2]" value="primary">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.d.days.3" name="formData.d.days[3]" value="primary">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.d.days.4" name="formData.d.days[4]" value="primary">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.d.days.5" name="formData.d.days[5]" value="primary">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.d.days.6" name="formData.d.days[6]" value="primary">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.d.days.7" name="formData.d.days[7]" value="primary">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.d.days.8" name="formData.d.days[8]" value="primary">
            </label>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Other Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.d.days.1" name="formData.d.days[1]" value="other">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.d.days.2" name="formData.d.days[2]" value="other">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.d.days.3" name="formData.d.days[3]" value="other">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.d.days.4" name="formData.d.days[4]" value="other">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.d.days.5" name="formData.d.days[5]" value="other">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.d.days.6" name="formData.d.days[6]" value="other">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.d.days.7" name="formData.d.days[7]" value="other">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.d.days.8" name="formData.d.days[8]" value="other">
            </label>
          </div> <!-- End Other Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider">E Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.e.name" name="ePrimary">
        </label>
        <small class="error item" ng-show="registerForm.ePrimary.$invalid && registerForm.ePrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="eAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="eAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name</span>
            <input type="text" ng-model="formData.e.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.e.days.1" name="formData.e.days[1]" value="primary">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.e.days.2" name="formData.e.days[2]" value="primary">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.e.days.3" name="formData.e.days[3]" value="primary">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.e.days.4" name="formData.e.days[4]" value="primary">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.e.days.5" name="formData.e.days[5]" value="primary">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.e.days.6" name="formData.e.days[6]" value="primary">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.e.days.7" name="formData.e.days[7]" value="primary">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.e.days.8" name="formData.e.days[8]" value="primary">
            </label>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Other Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.e.days.1" name="formData.e.days[1]" value="other">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.e.days.2" name="formData.e.days[2]" value="other">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.e.days.3" name="formData.e.days[3]" value="other">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.e.days.4" name="formData.e.days[4]" value="other">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.e.days.5" name="formData.e.days[5]" value="other">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.e.days.6" name="formData.e.days[6]" value="other">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.e.days.7" name="formData.e.days[7]" value="other">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.e.days.8" name="formData.e.days[8]" value="other">
            </label>
          </div> <!-- End Other Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider">F Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.f.name" name="fPrimary">
        </label>
        <small class="error item" ng-show="registerForm.fPrimary.$invalid && registerForm.fPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="fAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="fAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name</span>
            <input type="text" ng-model="formData.f.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.f.days.1" name="formData.f.days[1]" value="primary">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.f.days.2" name="formData.f.days[2]" value="primary">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.f.days.3" name="formData.f.days[3]" value="primary">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.f.days.4" name="formData.f.days[4]" value="primary">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.f.days.5" name="formData.f.days[5]" value="primary">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.f.days.6" name="formData.f.days[6]" value="primary">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.f.days.7" name="formData.f.days[7]" value="primary">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.f.days.8" name="formData.f.days[8]" value="primary">
            </label>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Other Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.f.days.1" name="formData.f.days[1]" value="other">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.f.days.2" name="formData.f.days[2]" value="other">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.f.days.3" name="formData.f.days[3]" value="other">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.f.days.4" name="formData.f.days[4]" value="other">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.f.days.5" name="formData.f.days[5]" value="other">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.f.days.6" name="formData.f.days[6]" value="other">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.f.days.7" name="formData.f.days[7]" value="other">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.f.days.8" name="formData.f.days[8]" value="other">
            </label>
          </div> <!-- End Other Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <!-- INDIVIDUAL PERIOD SECTION -->
        <div class="item item-divider">G Period</div>
        <!-- PRIMARY CLASS NAME INPUT -->
        <label class="item item-input">
          <span class="input-label">Class Name</span>
          <input type="text" ng-maxlength="20" required ng-model="formData.g.name" name="gPrimary">
        </label>
        <small class="error item" ng-show="registerForm.gPrimary.$invalid && registerForm.gPrimary.$dirty">
          Uh oh! That class name is either too long or too short. Try again.
        </small>
        <!-- ALTERNATING CLASS TOGGLE -->
        <div class="item item-toggle">
          <span class="toggle-label">Alternates with another class</span>
          <label class="toggle">
            <input type="checkbox" ng-model="gAlternatesClass">
            <div class="track">
               <div class="handle"></div>
            </div>
          </label>
        </div>
        <div ng-show="gAlternatesClass">
          <!-- Alternate Class Name INPUT -->
          <label class="item item-input">
            <span class="input-label">Alternate Class Name</span>
            <input type="text" ng-model="formData.g.alternate.name">
          </label>
          <!-- PRIMARY CLASS DAY SELECTION -->
          <div class="item days-selection">
            Primary Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.g.days.1" name="formData.g.days[1]" value="primary">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.g.days.2" name="formData.g.days[2]" value="primary">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.g.days.3" name="formData.g.days[3]" value="primary">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.g.days.4" name="formData.g.days[4]" value="primary">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.g.days.5" name="formData.g.days[5]" value="primary">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.g.days.6" name="formData.g.days[6]" value="primary">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.g.days.7" name="formData.g.days[7]" value="primary">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.g.days.8" name="formData.g.days[8]" value="primary">
            </label>
          </div>
          <!-- OTHER CLASS DAY SELECTION -->
          <div class="item days-selection">
            Other Class Days:<br>
            <label class="day-selector-label">
              1
              <input class="day-selector" type="radio" ng-model="formData.g.days.1" name="formData.g.days[1]" value="other">
            </label>
            <label class="day-selector-label">
              2
              <input class="day-selector" type="radio" ng-model="formData.g.days.2" name="formData.g.days[2]" value="other">
            </label>
            <label class="day-selector-label">
              3
              <input class="day-selector" type="radio" ng-model="formData.g.days.3" name="formData.g.days[3]" value="other">
            </label>
            <label class="day-selector-label">
              4
              <input class="day-selector" type="radio" ng-model="formData.g.days.4" name="formData.g.days[4]" value="other">
            </label>
            <label class="day-selector-label">
              5
              <input class="day-selector" type="radio" ng-model="formData.g.days.5" name="formData.g.days[5]" value="other">
            </label>
            <label class="day-selector-label">
              6
              <input class="day-selector" type="radio" ng-model="formData.g.days.6" name="formData.g.days[6]" value="other">
            </label>
            <label class="day-selector-label">
              7
              <input class="day-selector" type="radio" ng-model="formData.g.days.7" name="formData.g.days[7]" value="other">
            </label>
            <label class="day-selector-label">
              8
              <input class="day-selector" type="radio" ng-model="formData.g.days.8" name="formData.g.days[8]" value="other">
            </label>
          </div> <!-- End Other Class Day Selection -->
        </div> <!-- End Alternate Class -->

        <div class="center-container">
          <button class="button button-schedu button-register center-content" ng-disabled="registerForm.$invalid" type="submit">I'm all done, sign me up!</button>
        </div>

      </div> <!-- End period sections container -->
    </form>
  </ion-content>
</ion-view>
