.bar {
  background-image: none /* Disable too-thin bottom border on header */
}
.bar-header .title {
  margin-top: $logo-top-margin;
}
.title-image {
  height: 60px;
}
.platform-ios.platform-cordova {
  // iOS7/8 has a status bar which sits on top of the header.
  // Bump down everything to make room for it. However, if
  // if its in Cordova, and set to fullscreen, then disregard the bump.
  &:not(.fullscreen) {
    .bar-header:not(.bar-subheader) {
      > * {
        margin-top: $ios-statusbar-height + $logo-top-margin;
      }
    }
  }
}
.header-icon {
  position: absolute;
  bottom: 10%;
}
.header-icon > i {
  font-size: 40px;
}
.header-icon-left {
  left: 15px;
}
.header-icon-right {
  right: 15px;
}
