.login-logo {
  width: 250px;
  margin-top: 25px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}
.login-container {
  margin-top: 100px;
}
.register-description {
  margin-top: 25px;
}
.login-error {
  margin-bottom: 10px;
  font-size: 1em;
}
