@mixin period-border($color) {
  border-left-width: 30px;
  border-left-style: solid;
  border-left-color: $color;
}
period-day-selector {
  margin-top: 10px;
  display: block;
}
period-day-selector > button {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 3px;
  background-color: $darker-gray;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  appearance:none;
  -webkit-appearance:none;
  margin:0;
  border:0;
  box-sizing:border-box;
  outline: none;
  &:active {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
    background: darken($darker-gray, 5%);
  }
  &.selected {
    background-color: $schedu-green;
  }
  &.selected:active {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25);
    background: darken($schedu-green, 5%);
  }
}
.item-label {
  font-size: 14px;
  font-style: italic;
}
.toggle input:checked + .track {
  border-color: #085102;
  background-color: #085102;
}
@each $letter, $color in $period-colors {
  .period-container.#{$letter}-period {
    @include period-border($color);
  }
}
.period-letter-border {
  float: left;
  margin-left: -22px;
  margin-top: 11px;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
}
