.period-block {
  width: 40px;
  height: 40px;
  padding-top: 10px;
  float: left;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
}
.period-block-tall {
  height: 93px;
}
.period-block-alternate {
  height: 318px;
}
.a-period {
  background-color: hsla(291, 74%, 65%, 1);
}
.b-period {
  background-color: hsla(145, 63%, 49%, 1);
}
.c-period {
  background-color: hsla(28, 80%, 52%, 1);
}
.d-period {
  background-color: hsla(283, 39%, 53%, 1);
}
.e-period {
  background-color: hsla(6, 78%, 57%, 1);
}
.f-period {
  background-color: hsla(48, 89%, 50%, 1);
}
.g-period {
  background-color: hsla(204, 70%, 53%, 1);
}
.sp-period {
  background-color: hsla(210, 29%, 29%, 1);
}
