.period-block {
  width: 40px;
  height: 40px;
  padding-top: 10px;
  float: left;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
}
@each $letter, $color in $period-colors {
  .period-block.#{$letter}-period-block {
    background-color: $color;
  }
}
