.date-header {
  padding: 10px;
  height: 45px;
}
.schedule .header-icon-right {
  padding-top: 10px;
}
.schedule .header-icon > i.ion-edit {
  font-size: 30px;
}
.class-list .schedule-item {
  padding-top: 10px;
  padding-bottom: 5px;
}
.schedule-item h2 {
  padding-top: 5px;
}
.class-list .class-name,
.class-list h2 {
  font-size: 1.5em;
  padding-left: 20px;
}
.schedu-icon-block {
  padding-top: 0;
}
