$schedu-green: #215732;
$schedu-green-half-opacity: rgba(33, 87, 50, 0.5);
$darker-gray: #aaa;
$light-gray: #c8c9c7;
$lighter-gray: #eee;

$bar-height: 85px;
$logo-top-margin: 15px;

@mixin transition-out($time) {
  -webkit-transition: all $time ease-in;
          transition: all $time ease-in;
}

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "period-blocks";
@import "loader";

/**
 * General Styles
 */
.bar {
  background-image: none /* Disable too-thin bottom border on header */
}
.bar-header .title {
  margin-top: $logo-top-margin;
}
.platform-ios.platform-cordova {
  // iOS7/8 has a status bar which sits on top of the header.
  // Bump down everything to make room for it. However, if
  // if its in Cordova, and set to fullscreen, then disregard the bump.
  &:not(.fullscreen) {
    .bar-header:not(.bar-subheader) {
      > * {
        margin-top: $ios-statusbar-height + $logo-top-margin;
      }
    }
  }
}
.header-icon {
  position: absolute;
  bottom: 10%;
}
.header-icon-left {
  left: 15px;
}
.header-icon-right {
  right: 15px;
}
.bar-header .ion-arrow-left-c {
  font-size: 40px;
}
.button.button-schedu,
.button.button-schedu-outline.activated  {
  border-color: #215127;
  background-color: #215127;
  color: #fff;
}
.button.button-schedu-outline,
.button.button-schedu.activated {
  border-color: #215127;
  background-color: #fff;
  color: #000;
}
.button.button-schedu-outline.activated,
.button.button-schedu.activated {
  box-shadow: inset 3px 3px 10px rgba(0,0,0,0.3);
}
.list-page-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}
.list-page-heading h3 {
  font-size: 1.5em;
}
/**
 * Schedule Page
 */
.date-header {
  padding: 10px;
  height: 45px;
}
.class-list .schedule-item {
  padding-top: 10px;
  padding-bottom: 5px;
}
.schedule-item h2 {
  padding-top: 5px;
}
.class-list h2 {
  font-size: 1.5em;
}
.schedu-icon-block {
  padding-top: 0;
}
/**
 * Feedback Page
 */
.back-button {
  margin-left: 10px;
  font-size: 1.25em;
}
.feedback-list-item.active {
  background-color: #215127;
}
.feedback-list-item.active h2 {
  color: white;
}
.feedback-list-item h2 {
  font-size: 20px;
}
.feedback-list-item .ion-android-checkmark {
  color: white;
  font-size: 1.5em;
}
/**
 * Login Page
 */
.login-logo {
  width: 250px;
  margin-top: 25px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
}
.login-container {
  margin-top: 100px;
}
.register-description {
  margin-top: 25px;
}
/**
 * Login/Register Forms
 */
.error {
  color: darkred;
}
.login-error {
  margin-bottom: 10px;
  font-size: 1.25em;
}
.error .tel-example {
  font-weight: bold;
}
.ng-invalid {
  border-color: darkred;
}
.day-selector-row {
  margin-top: 10px;
}
.day-selector {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 3px;
  background-color: #aaa;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
}
.toggle input:checked + .track {
  border-color: #085102;
  background-color: #085102;
}
input[type="radio"]:checked + .day-selector {
  background-color: #085102;
}
.day-selector-radio {
  display: none;
}
.toggle-label {
  font-size: 14px;
  font-style: italic;
}
.label-invalid {
  color: darkred;
  font-style: italic;
}
.button.button-register {
  width: 225px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.error.item {
  padding: 5px;
  overflow: inherit;
  text-overflow: inherit;
  white-space: normal;
}
.period-title {
  color: #fff;
  font-size: 1.25em;
  opacity: 0.75;
}
/**
 * Utility
 */
 .center-container {
   text-align: center;
 }
 .center-content {
   display: inline-block;
   vertical-align: middle;
 }
.some-padding {
  padding: 5px;
}
.no-padding {
  padding: 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-right {
  text-align: right;
}
