// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "variables";
@import "../www/lib/ionic/scss/ionic";
@import "period-blocks";
@import "period";
@import "loader";
@import "register";
@import "utility";
@import "header";
@import "schedule";
@import "login";
@import "feedback";

/**
 * General Styles
 */
.button.button-schedu,
.button.button-schedu-outline.activated  {
  border-color: $schedu-green;
  background-color: $schedu-green;
  color: $white;
}
.button.button-schedu-outline,
.button.button-schedu.activated {
  border-color: $schedu-green;
  background-color: $white;
  color: $black;
}
.button.button-schedu-outline.activated,
.button.button-schedu.activated {
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.list-page-heading {
  padding-top: 5px;
  padding-bottom: 5px;
}
.list-page-heading h3 {
  font-size: 1.5em;
}
