<!-- INDIVIDUAL PERIOD SECTION -->
<div class="item item-divider period-title a-period">A Period</div>
<!-- PRIMARY CLASS NAME INPUT -->
<label class="item item-input">
  <span class="input-label">Class Name:</span>
  <input type="text" ng-maxlength="20" required ng-model="formData.a.name" name="aPrimary">
</label>
<small class="error item" ng-show="registerForm.aPrimary.$invalid && registerForm.aPrimary.$dirty">
  Uh oh! That class name is either too long or too short. Try again.
</small>
<!-- ALTERNATING CLASS TOGGLE -->
<div class="item item-toggle">
  <span class="toggle-label">Alternates with another class</span>
  <label class="toggle">
    <input type="checkbox" ng-model="aAlternatesClass">
    <div class="track">
      <div class="handle"></div>
    </div>
  </label>
</div>
<div ng-show="aAlternatesClass">
  <!-- Alternate Class Name INPUT -->
  <label class="item item-input">
    <span class="input-label">Alternate Class Name:</span>
    <input type="text" ng-model="formData.a.alternate.name">
  </label>
  <!-- PRIMARY CLASS DAY SELECTION -->
  <div class="item">
    Primary Class Days:
    <div class="day-selector-row">
      <span ng-repeat="n in [] | range:1:8" ng-init="formData.a.days = []">
        <input class="day-selector-radio"
        type="radio"
        name="formData.a.days[{{n}}]"
        id="formData.a.days[{{n}}]"
        ng-value="n"
        ng-model="formData.a.days[n-1]"
        ng-click="deselectDays(n, 'a')">
        <label class="day-selector"
               for="formData.a.days[{{n}}]">
          {{n}}
        </label>
      </span>
    </div>
  </div>
  <!-- OTHER CLASS DAY SELECTION -->
  <div class="item days-selection">
    Alternate Class Days:
    <div class="day-selector-row">
      <span ng-repeat="n in [] | range:1:8" ng-init="formData.a.alternate.days = []">
        <input class="day-selector-radio"
               type="radio"
               name="formData.a.days[{{n}}]"
               id="formData.a.alternate.days[{{n}}]"
               ng-value="n"
               ng-model="formData.a.alternate.days[n-1]"
               ng-click="deselectDays(n, 'a', 'alternate')">
        <label class="day-selector"
               for="formData.a.alternate.days[{{n}}]">
            {{n}}
        </label>
      </span>
    </div>
  </div>
  <!-- End Alternate Class Day Selection -->
</div>
<!-- End Alternate Class -->
