<ion-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear back-arrow reverse" ng-click="schedule.logout()">
        <i class="ion-arrow-left-c"></i>
      </button>
    </div>
    <h1 class="title">
      <img class="title-image"
           src="img/logo.svg"
           height="60"
           alt="SchedU Logo">
    </h1>
  </ion-header-bar>
  <ion-content has-header="true">
    <ion-list class="class-list">
      <div class="list-page-heading item text-center date-header" ng-click="schedule.dateShow = !schedule.dateShow">
        <h3 ng-show="schedule.dateShow">{{schedule.formattedDate.todaysDate}}</h3>
        <h3 ng-hide="schedule.dateShow">
          {{schedule.formattedDate.dayOfWeek}}
          <span ng-show="schedule.scheduleString"> - Day {{schedule.scheduleString}}</span>
        </h3>
      </div>
      <ion-item class="schedule-item"
                ng-repeat="class in schedule.classOrder">

        <div class="period-block {{class.letter | lowercase}}-period">
            {{class.letter}}
        </div>
        <h2 class="class-name">
          {{class.name}}
          <span class="pull-right" ng-show="class.lunch">
            <img src="img/lunch-icon.svg" height="30px" alt="lunch">
          </span>
        </h2>

      </ion-item>
      <a class="item schedule-item item-icon-right" href="#/feedback">
        <div class="period-block schedu-icon-block">
          <img src="img/u.svg" height="40" width="40" alt="">
        </div>
        <h2>Give feedback... <i class="icon ion-chevron-right"></i></h2>
      </a>
    </ion-list>

  </ion-content>
</ion-view>
