/**
 * General Styles
 */
.logo {
  width: 250px;
  margin-top: 25px;
  margin-bottom: 5px;
}
.button.button-schedu {
 border-color: #215127;
 background-color: #215127;
 color: #fff;
}
/**
 * Schedule Page
 */
.date-schedule {
  padding-top: 0;
  padding-bottom: 0;
}
.class-list .date {
  font-size: 1.5em;
}
.class-list .weekday-schedule {
  font-size: 1.5em;
}
.class-list .class-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.day-letter {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  padding-top: 10px;
  float: left;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
}
.class-list h2 {
    font-size: 1.5em;
}
/**
 * Login Page
 */
a {
  text-decoration: none;
}
.login-container {
  margin-top: 100px;
}
.register-description {
  margin-top: 25px;
}
/**
 * Login/Register Forms
 */
 .error {
   color: darkred;
 }
 .login-error {
   margin-bottom: 10px;
   font-size: 1.25em;
 }
 .error .tel-example {
   font-weight: bold;
 }
 .ng-invalid {
   border-color: darkred;
 }
 .day-selector {
   margin-right: 5px !important;
 }
.toggle-label {
  font-style: italic;
}
.button.button-register {
  width: 225px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.error.item {
  padding: 5px;
  overflow: inherit;
  text-overflow: inherit;
  white-space: normal;
}
/**
 * Utility
 */
 .center-container {
   text-align: center;
 }
 .center-content {
   display: inline-block;
   vertical-align: middle;
 }
.some-padding {
  padding: 5px;
}
.no-padding {
  padding: 0;
}
.pull-right {
  float: right;
}
.text-right {
  text-align: right;
}
